body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.6);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.hero h2 {
    font-size: 45px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00c6ff;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0072ff;
}
